h1, h2, h3, h4 {
	font-family: "MillerBanner";
	font-weight: lighter;
}

h1 {
	margin: 0px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border-bottom: 1.5px solid #B69F58;
}

select {
	width: 100%;
	font-family: "Helvetica Neue";
	font-weight: lighter;
	appearance: none;
	border: none;
	border-bottom: 1.5px solid #B69F58;
	padding: 1rem;
	margin: 0 0 1rem 0;
}


