h1, h2, h3, h4 {
	font-family: "MillerBanner";
	font-weight: lighter;
}

h1, h2 {
	margin: 0px;
}

h1 {
	font-size: 1.3rem;
}

p {
	font-family: "Helvetica Neue";
	font-weight: lighter;
	margin: .4rem 0;
}

.listHeader {
	color: #202020;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border-bottom: 1.5px solid #B69F58;
}

main {
	color: #202020;
}

select {
	width: 95%;
	font-family: "Helvetica Neue";
	appearance: none;
	background-image: url("./components/Downarrow.svg");
	background-repeat: no-repeat;
	background-position: right;
	border: none;
	padding: 1rem;
	margin: 0;
}

ul {
	list-style: none;
	padding: 1rem;
	margin: 0;
	border-top: 1.5px solid #B69F58;
}

li {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 2rem;
}

.appointment {
	width: 15%;
	font-weight: bold;
}

.salonName {
	width: 60%;
	font-family: "MillerBanner";
	font-size: 1.3rem;
	text-align: left
}

.price {
	font-weight: bold;
}

.rating {
	width: 60%;
	margin-left: 15%;
}

.address {
	margin-left: 15%;
}

/* Salon Page */

.salonHeader {
	width: 100%;
	background-image: url("components/Salonheader.svg");
}

.salonHeader h1 {
	color: white;
}
