h1,
h2,
h3,
h4 {
	font-family: "MillerBanner";
	font-weight: lighter;
}

h1,
h2 {
	margin: 0px;
}

h1 {
	font-size: 1.5rem;
}

p {
	font-family: "Helvetica Neue";
	font-weight: lighter;
	margin: .4rem 0;
}

button {
	background: none;
	border: none;
}

.listHeader {
	color: #202020;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid #B69F58;
}

main {
	color: #202020;
}

select {
	width: 100%;
	font-family: "Helvetica Neue";
	font-weight: lighter;
	font-size: 1rem;
	appearance: none;
	background: url("./components/icons/Downarrow.svg");
	background-repeat: no-repeat;
	background-position: right 15px center;
	border: none;
	padding: 1rem;
	margin: 0;
	border-bottom: 1px solid #B69F58;
}

ul {
	list-style: none;
	padding: 1rem;
	margin: 0;
}

li {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 2rem;
}

.appointment {
	width: 15%;
	font-weight: bold;
}

.salonInfo {
	width: 60%;
}

.salonName {
	font-family: "MillerBanner";
	font-size: 1.3rem;
	text-align: left
}

.price {
	font-weight: bold;
}

/* Salon Page */

.salonHeader {
	height: 267px;
	background-image: url("components/Salonheader.svg");
	background-size: cover;
	color: white;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.salonHeaderIcons {
	display: flex;
	justify-content: space-between;
}

button .far {
	color: white;
	font-size: 1.7rem;
}

.salonMenu {
	padding: 0;
}

.salonMenu li {
	width: 50%;
	display: inline-block;
	text-align: center;
	padding: .8rem 0;
	margin-bottom: 1rem;
}

.active {
	border-bottom: 1px solid #B69F58;
}

.salonInfo li {
	margin-bottom: 1rem;
}

.salonInfo span {
	margin-right: .5rem;
}

.salonDescription {
	padding: 0 1rem 1rem 1rem;
}

@media screen and (min-width: 576px) {
	.salonHeader {
		height: 380px;
	}
}

@media screen and (min-width: 768px) {
	main, .salonMenu {
		max-width: 900px;
		margin: 0px auto;
	}

	.salonHeader {
		height: 380px;
		background-position: 0 -30px;
		padding: 1rem 2.5rem;
	}
}

@media screen and (min-width: 992px){
	.salonHeader {
		height: 430px;
		background-position: 0 -150px;
		padding: 2rem 3rem;
	}
}

@media screen and (min-width: 1200px) {	
		.salonMenu li {
		padding: 1.5rem 0;
	margin-bottom: 2rem;
	}
	
	.salonInfo li {
	margin-bottom: 1.8rem;
}
}